LOOPS : For Loop!!

In [1]:
lst_1 = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in lst_1 :
    print(num)

1
2
3
4
5
6
7
8
9
10

Modulo

In [3]:
23 % 2

1

In [4]:
13 % 4

1

In [5]:
3455567 % 2

1

In [6]:
17 % 4

1

printing only even numbers of lst_1

In [7]:
for num in lst_1 :
    if num % 2 == 0 :
        print(num)

2
4
6
8
10

we can also use "else"

In [8]:
for num in lst_1 :
    if num % 2 == 0 :
        print(num)
    else :
        print('odd numbers')

odd numbers
2
odd numbers
4
odd numbers
6
odd numbers
8
odd numbers
10

In [10]:
#start sum at 0

lst_1_sum = 0

for num in lst_1 :
    lst_1_sum = lst_1_sum + num
    
print(lst_1_sum)

55

In [11]:
#sum at 0 but using +=

lst_1_sum = 0

for num in lst_1 :
    lst_1_sum += num
    
print(lst_1_sum)

55

In [12]:
for letter in 'Hi this is Pakhi. I love food. Please feed me.' :
    print(letter)

H
i

t
h
i
s

i
s

P
a
k
h
i
.

I

l
o
v
e

f
o
o
d
.

P
l
e
a
s
e

f
e
e
d

m
e
.

In [13]:
tup = (11,12,13,14,15,16,17,18,19,20)
for t in tup :
    print(t)

11
12
13
14
15
16
17
18
19
20

In [14]:
lst = [(1,2),(3,4),(5,6)]

In [15]:
for tup in lst :
    print(tup)

(1, 2)
(3, 4)
(5, 6)

In [17]:
#unpaking

for (t1,t2) in lst :
    print(t1)

1
3
5

In [18]:
d = {'k1':1,'k2':'string','k3':2}

In [19]:
for item in d:
    print(item)

k1
k2
k3

In [20]:
d.items()

dict_items([('k1', 1), ('k2', 'string'), ('k3', 2)])

In [21]:
list(d.keys())

['k1', 'k2', 'k3']

In [22]:
sorted(d.values())

TypeError: '<' not supported between instances of 'str' and 'int'

In [23]:
a = {'k1': 1, 'k2':2}

In [24]:
sorted(a.values())

[1, 2]