In [1]:
#strings


#single word string
'bro'

'bro'

In [2]:
#multiple words
'made in the am'

'made in the am'

In [3]:
#also double quotes can be used
"this is a string"

'this is a string'

In [4]:
#common error
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-4-3942d837d345>, line 2)

In [5]:
"i'm using double quotes to prevent the error"

"i'm using double quotes to prevent the error"

In [6]:
#printing a string

'Hello World'

'Hello World'

In [7]:
print('Hello world 1')
print ('Hello World 2')

Hello world 1
Hello World 2

In [8]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('my name is Pakhi')
print('my doggo daisy is a good girl')
print('i love dogs')

Hello World 1
Hello World 2
Use
 to print a new line


my name is Pakhi
my doggo daisy is a good girl
i love dogs

In [9]:
#String Indexing

# Assign q as a string
q = 'Hello Daisy'

In [10]:
#check
q

'Hello Daisy'

In [11]:
# Print the object
print(q)

Hello Daisy

In [12]:
# Show first element (in this case a letter)
q[0]

'H'

In [13]:
q[1]

'e'

In [14]:
q[5]

' '

In [15]:
q[4]

'o'

In [17]:
#We can use a : to perform slicing which grabs everything up to a designated point. 

# Grab everything past the first term all the way to the length of s which is len(s)
q[1:]

'ello Daisy'

In [18]:
# Note that there is no change to the original s
q

'Hello Daisy'

In [19]:
# Grab everything UP TO the 3rd index
q[:3]

'Hel'

In [20]:
#Everything
q[:]

'Hello Daisy'

In [21]:
#Last letter (one index behind 0 so it loops back around)
q[-1]

'y'

In [22]:
#Grab everything but the last letter
q[:-1]

'Hello Dais'

In [23]:
#Grab everything, but go in steps size of 1
q[::1]

'Hello Daisy'

In [24]:
#Grab everything, but go in step sizes of 2
q[::2]

'HloDiy'

In [25]:
#We can use this to print a string backwards
q[::-1]

'ysiaD olleH'

In [26]:
#String basics
len('hey guys welcome to my channel')

30

In [27]:
#string properties

q

'Hello Daisy'

In [28]:
#try to change the first letter to 'x'
q[0] = 'x'

TypeError: 'str' object does not support item assignment

In [29]:
q

'Hello Daisy'

In [30]:
#concatenate strings
q + ' & Scruffy'

'Hello Daisy & Scruffy'

In [32]:
# we can reassign q completely though
q = q + ' & Bern!'

In [33]:
print(q)

Hello Daisy & Bern! & Bern!

In [35]:
q

'Hello Daisy & Bern! & Bern!'

In [36]:
#We can use the multiplication symbol to create repetition
letter = 'z'

In [37]:
letter*20

'zzzzzzzzzzzzzzzzzzzz'

In [38]:
#built in string metods

q

'Hello Daisy & Bern! & Bern!'

In [39]:
#Upper Case a string
q.upper()

'HELLO DAISY & BERN! & BERN!'

In [40]:
#Lower case
q.lower()

'hello daisy & bern! & bern!'

In [41]:
#split a string by blank space(default)
q.split()

['Hello', 'Daisy', '&', 'Bern!', '&', 'Bern!']

In [42]:
#Split by a specific element 
q.split('W')

['Hello Daisy & Bern! & Bern!']

In [43]:
#Print Formatting


'Dasiy is a good girl: {}'.format('Bern is a good boy')

'Dasiy is a good girl: Bern is a good boy'