In [1]:
#list


my_list = [2,4,6,8]

In [2]:
my_list

[2, 4, 6, 8]

In [3]:
my_list = ['random', 3,6,9,'text']

In [4]:
my_list

['random', 3, 6, 9, 'text']

In [5]:
#no of itemes in the list

len(my_list)

5

In [6]:
#indexing and slicing

my_list = ['one', 2, 'three' , 4, 'five', 6]

In [7]:
my_list

['one', 2, 'three', 4, 'five', 6]

In [8]:
#grab element at index 3

my_list[3]

4

In [9]:
#grab element at index 0
my_list[0]

'one'

In [10]:
# Grab index 1 and every thing after it 

my_list[1:]

[2, 'three', 4, 'five', 6]

In [11]:
#grab everything up to index 4

my_list[:4]

['one', 2, 'three', 4]

In [14]:
my_list = my_list + ['seven']

In [15]:
my_list

['one', 2, 'three', 4, 'five', 6, 'seven', 'seven']

In [16]:
# Reassign

my_list = my_list + ['eight']

In [17]:
my_list

['one', 2, 'three', 4, 'five', 6, 'seven', 'seven', 'eight']

In [18]:
#We can also use the * for a duplication method similar to strings
# Make the list double

my_list * 5

['one',
 2,
 'three',
 4,
 'five',
 6,
 'seven',
 'seven',
 'eight',
 'one',
 2,
 'three',
 4,
 'five',
 6,
 'seven',
 'seven',
 'eight',
 'one',
 2,
 'three',
 4,
 'five',
 6,
 'seven',
 'seven',
 'eight',
 'one',
 2,
 'three',
 4,
 'five',
 6,
 'seven',
 'seven',
 'eight',
 'one',
 2,
 'three',
 4,
 'five',
 6,
 'seven',
 'seven',
 'eight']

In [19]:
# Again doubling not permanent

my_list

['one', 2, 'three', 4, 'five', 6, 'seven', 'seven', 'eight']

In [20]:
#basic list method

#create a new list

one_direction = ['niall','harry','liam','zayn','louis']

In [21]:
one_direction

['niall', 'harry', 'liam', 'zayn', 'louis']

In [22]:
#append 

one_direction.append(5)

In [23]:
one_direction

['niall', 'harry', 'liam', 'zayn', 'louis', 5]

In [26]:
#pop off
# Pop off the 6 indexed item

one_direction.pop(5)

5

In [27]:
one_direction

['niall', 'harry', 'liam', 'zayn', 'louis']

In [30]:
one_direction = ['niall','harry','liam','zayn','louis']

In [31]:
# Assign the popped element

popped_item = one_direction.pop()

In [32]:
popped_item

'louis'

In [33]:
#show remaning list 

one_direction

['niall', 'harry', 'liam', 'zayn']

In [34]:
one_direction[200]

IndexError: list index out of range

In [35]:
#We can use the sort method and the reverse methods to also effect your lists

#new list

list2 =[1,2,3,4,5,6]

In [36]:
list2

[1, 2, 3, 4, 5, 6]

In [37]:
# Use reverse to reverse order (this is permanent)

list2.reverse()

In [38]:
list2

[6, 5, 4, 3, 2, 1]

In [39]:
list1 =['c','x','r','s','a']

In [40]:
list1

['c', 'x', 'r', 's', 'a']

In [41]:
# Use sort to sort the list (alphabatical order)

list1.sort()

In [42]:
list1

['a', 'c', 'r', 's', 'x']

In [43]:
# Use sort to sort the list (numerical order)

list2.sort()

In [44]:
list2

[1, 2, 3, 4, 5, 6]

In [45]:
#nesting lists
#make 4 new list

lst1 =[1,2]
lst2 =[3,4]
lst3 =[5,6]
lst4 =[7,8]

In [47]:
#Make a list of lists to form a matrix
matrix = [lst1,lst2,lst3,lst4]

In [48]:
matrix

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [49]:
#grab 1st item of matrix

matrix[0]

[1, 2]

In [50]:
# Grab first item of the first item in the matrix object

matrix[0][0]

1

In [51]:
#list comprehension

# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [52]:
first_col

[1, 3, 5, 7]